extends ../layout

block content
    .jumbotron
        .container
            h1= title
            p
                | Welcome aboard! Visit 
                a(href="http://locomotivejs.org/") locamotivejs.org
                | for details
    
    .container
        = content

block styles
    
block scripts
    

